<div class="container tim-container">
  <div class="tim-title">
    <h2>Convert</h2>
  </div>
  <div class="row" id="big-row">
    <div class="col-lg-6 col-md-offset-3">
      <select class="dropdown-toggle btn btn-primary" ng-model="converter.currentType">
        <option class="dropdown-toggle" ng-repeat="(key, value) in converter.c" value="{{key}}">{{key}}</option>
      </select>
    </div>
  </div>
  <div class="row" id="big-row">
    <div class="input-group">
      <div class="col-sm-3">
        <div class="row">
          <input class="form-control" ng-change="converter.updateMagnitudes(1)" ng-model="converter.firstMagnitude" step="any" type="number">
        </div>
        <div class="row">
          <label class="checkbox" for="checkbox1">
            <input data-toggle="checkbox" id="checkbox1" ng-change="converter.toggleFavorite(converter.currentType, converter.currentFirstUnit, converter.c[converter.currentType][converter.currentFirstUnit].favorite)" ng-disabled="converter.currentFirstUnit == null" ng-model="converter.c[converter.currentType][converter.currentFirstUnit].favorite" type="checkbox"/>
            Favorite
          </label>
        </div>
      </div>
      <div class="col-sm-3">
        <select class="dropdown-toggle btn btn-primary" ng-change="converter.updateMagnitudes(2)" ng-model="converter.currentFirstUnit" required>
          <option ng-if="false" value=""></option>
          <option ng-repeat="(key, value) in converter.c[converter.currentType]" value="{{key}}">{{key}}</option>
        </select>
      </div>
      <div class="col-sm-3">
        <div class="row">
          <input class="form-control" ng-change="converter.updateMagnitudes(2)" ng-model="converter.secondMagnitude" step="any" type="number">
        </div>
        <div class="row">
          <label class="checkbox" for="checkbox2">
            <input data-toggle="checkbox" id="checkbox2" ng-change="converter.toggleFavorite(converter.currentType, converter.currentSecondUnit, converter.c[converter.currentType][converter.currentSecondUnit].favorite)" ng-disabled="converter.currentSecondUnit == null" ng-model="converter.c[converter.currentType][converter.currentSecondUnit].favorite" type="checkbox"/>
            Favorite
          </label>
        </div>
      </div>

      <div class="col-sm-3">
        <select class="dropdown-toggle btn btn-primary" ng-change="converter.updateMagnitudes(1)" ng-model="converter.currentSecondUnit" required>
          <option ng-if="false" value=""></option>
          <option ng-repeat="(key, value) in converter.c[converter.currentType]" value="{{key}}">{{key}}</option>
        </select>
      </div>

    </div>
  </div>

  <div class="tim-title">
    <h3>
      Favorite
      {{converter.currentType}}
      units</h3>
  </div>
</div>
