<!DOCTYPE html>
<html ng-app="unitConverter">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Unit Converter</title>

    <!-- Bootstrap -->
    <!-- <link href="dist/css/bootstrap.min.css" rel="stylesheet"> -->
    <!-- <link rel="stylesheet" href="dist/css/custom.css"> -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-controller="UnitController as converter">
    <script type="text/javascript" src="dist/js/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="app-converter.js"></script>

    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="inner cover">
          <div class="row">
            <h1>Unit Converter</h1>
          </div>
          <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1">Amount</span>
            <input type="text" class="form-control" placeholder="Enter a number" aria-describedby="sizing-addon1">
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4>Convert from:</h4>
                </div>
                <div class="panel-body">
                  <div class="input-group">
                    <select>
                      <option ng-repeat="unit in converter.units" value="{{unit.name}}">{{unit.name}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4>Convert to:</h4>
                </div>
                <div class="panel-body">

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mastfoot">
          <div class="inner">
            <p>
              Unit Converter by Pedro Aste & Thomas Hepner
            </p>
          </div>
        </div>
      </div>
    </div>

    <h1>Convert</h2>
    <select ng-model="converter.currentType">
        <option ng-repeat="(key, value) in converter.c" value="{{key}}">{{key}}</option>
    </select>
    <div>

        <select ng-model="converter.currentFirstUnit">
            <option ng-repeat="(key, value) in converter.c[converter.currentType]" value="{{key}}">{{key}}</option>
        </select>

        <select ng-model="converter.currentFirstUnit">
            <option ng-repeat="(key, value) in converter.c[converter.currentType]" value="{{key}}">{{key}}</option>
        </select>
    </div>

    <h2>Add conversion</h2>
    <form name="newConversion" ng-controller="UnitFormController as unitFormCtrl"
        ng-submit="newConversion.$valid && unitFormCtrl.addConversion()">
        <select ng-model="unitFormCtrl.selectedType" required>
            <option ng-repeat="(key, value) in converter.c" value="{{key}}">{{key}}</option>
        </select>
        <div>
            <input type="text" placeholder="Unit name" ng-model="unitFormCtrl.firstUnit" required>
            =
            <input type="number" placeholder="m" ng-model="unitFormCtrl.slope" required>&times;
            <input type="text" placeholder="Unit name" ng-model="unitFormCtrl.secondUnit" required>
            +
            <input type="number" placeholder="c" ng-model="unitFormCtrl.intercept" required>
        </div>

        <div ng-show="newConversion.$valid">
            Adding convertion to {{unitFormCtrl.selectedType}}:
            {{"1 " + unitFormCtrl.firstUnit + " = " + unitFormCtrl.slope +" &times; " +
            unitFormCtrl.secondUnit + " + " + unitFormCtrl.intercept
            }}

            <input type="submit" value="Submit" />
        </div>
    </form>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="dist/js/bootstrap.min.js"></script>
  </body>
</html>
