<!doctype html>
<html lang="en" data-framework="backbonejs">
	<head>
		<meta charset="utf-8">
		<title>Backbone.js • TodoMVC</title>
		<link rel="stylesheet" href="node_modules/todomvc-common/base.css">
		<link rel="stylesheet" href="node_modules/todomvc-app-css/index.css">
		<link rel="stylesheet" href="css/custom.css">
	</head>
	<body>
		<section class="todoapp">
			<header class="header">
				<h1>todos</h1>
				<input class="new-todo" placeholder="What needs to be done?" autofocus>
				<form id="form-priority">
					<span class="when-text">When?</span>
					<input type="radio" name="priority" id="radio-now" value="now" checked>
					<label for="radio-now">Now</label>
					<input type="radio" name="priority" id="radio-soon" value="soon">
					<label for="radio-soon">Soon</label>
					<input type="radio" name="priority" id="radio-later" value="later">
					<label for="radio-later">Later</label>
					<input type="radio" name="priority" id="radio-someday" value="someday">
					<label for="radio-someday">Someday</label>
				</form>
			</header>
			<section class="main">
				<input class="toggle-all" type="checkbox">
				<label for="toggle-all">Mark all as complete</label>
				<ul class="todo-list"></ul>
			</section>
			<footer class="footer"></footer>
		</section>
		<footer class="info">
			<p>Double-click to edit a todo</p>
			<p>Written by <a href="https://github.com/addyosmani">Addy Osmani</a></p>
			<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
		</footer>
		<script type="text/template" id="item-template">
			<div class="view">
				<input class="toggle" type="checkbox" <%= completed ? 'checked' : '' %>>
				<label><%- title %></label>
				<span class="priority"><%- priority %></span>
				<button class="destroy"></button>
			</div>
			<input class="edit" value="<%- title %>">
			<select class="edit-priority">
				<option value="now">Now</option>
				<option value="soon">Soon</option>
				<option value="later">Later</option>
				<option value="someday">Someday</option>
			</select>
		</script>
		<script type="text/template" id="stats-template">
			<span class="todo-count"><strong><%= remaining %></strong> <%= remaining === 1 ? 'item' : 'items' %> left</span>
			<ul class="filters">
				<li>
					<a class="<%= helpers.statusFilterClass() %>" href="#<%= helpers.statusFilterLink('/') %>">All</a>
				</li>
				<li>
					<a class="<%= helpers.statusFilterClass('active') %>" href="#<%= helpers.statusFilterLink('/active') %>">Active</a>
				</li>
				<li>
					<a class="<%= helpers.statusFilterClass('completed') %>" href="#<%= helpers.statusFilterLink('/completed') %>">Completed</a>
				</li>
			</ul>
			<ul class="filters">
				<li>
					<a class="<%= helpers.priorityFilterClass() %>" href="#<%= helpers.priorityFilterLink('/') %>">All</a>
				</li>
				<li>
					<a class="<%= helpers.priorityFilterClass('now') %>" href="#<%= helpers.priorityFilterLink('/now') %>">Now</a>
				</li>
				<li>
					<a class="<%= helpers.priorityFilterClass('soon') %>" href="#<%= helpers.priorityFilterLink('/soon') %>">Soon</a>
				</li>
				<li>
					<a class="<%= helpers.priorityFilterClass('later') %>" href="#<%= helpers.priorityFilterLink('/later') %>">Later</a>
				</li>
				<li>
					<a class="<%= helpers.priorityFilterClass('someday') %>" href="#<%= helpers.priorityFilterLink('/someday') %>">Someday</a>
				</li>
			</ul>
			<span class="sort-text">Sort by:</span>
			<form id="form-sorting-strategy">
				<input type="radio" name="sorting" id="radio-insertion" value="order" <%= helpers.sortingStrategy('order') %> >
				<label for="radio-insertion">Insertion</label>
				<input type="radio" name="sorting" id="radio-priority" value="priority" <%= helpers.sortingStrategy('priority') %> ">
				<label for="radio-priority">Priority</label>
			</form>
			<% if (completed) { %>
			<button class="clear-completed">Clear completed</button>
			<% } %>
		</script>
		<script src="node_modules/todomvc-common/base.js"></script>
		<script src="node_modules/jquery/dist/jquery.js"></script>
		<script src="node_modules/underscore/underscore.js"></script>
		<script src="node_modules/backbone/backbone.js"></script>
		<script src="node_modules/backbone.localstorage/backbone.localStorage.js"></script>
		<script src="js/models/todo.js"></script>
		<script src="js/collections/todos.js"></script>
		<script src="js/views/todo-view.js"></script>
		<script src="js/views/app-view.js"></script>
		<script src="js/routers/router.js"></script>
		<script src="js/helpers.js"></script>
		<script src="js/app.js"></script>
	</body>
</html>
