<div class="item">
  <div class="right floated content">
    <button class="ui icon button">
      <i class="{{isChecked ? 'checkmark box icon' : 'square outline icon'}}"></i>
    </button>
  </div>
  <div class="content">
    {{list.title}}
  </div>
</div>
